<div class="p-5 container w-50 text-center">
    <h1 style="color: rgb(17, 186, 17) ;">Add New product</h1>
    <form (ngSubmit)="addProduct()" [formGroup]="addProductForm" action="" class="container p-5 "
        style=" background-color: rgba(17, 186, 17, 0.705) ;">
        <input formControlName="id" type="text" class="form-control mt-3 p-2" placeholder="Id" name="pin" id="pid">
        <input formControlName="title" type="text" class="form-control mt-3 p-2" placeholder="Name" name="pin1"
            id="pname">
        <input formControlName="catogoryId" type="text" class="form-control mt-3 p-2" placeholder="Category Id"
            name="pin2" id="pcat">
            <input formControlName="productImage" type="text" class="form-control mt-3 p-2" placeholder="productImage"
            name="pin6" id="pimg">
        <input formControlName="description" type="text" class="form-control mt-3 p-2" placeholder="Description"
            name="pin3" id="pdes">
        <input formControlName="price" type="text" class="form-control mt-3 p-2" placeholder="price" name="pin4"
            id="pprice">
        <input formControlName="isAvailable" type="text" class="form-control mt-3 p-2" placeholder="Isavailable"
            name="pin5" id="pavail">
        <input formControlName="rating" type="text" class="form-control mt-3 p-2" placeholder="Rating" name="pin6"
            id="prat">
        <input formControlName="review" type="text" class="form-control mt-3 p-2" placeholder="Review" name="pin7"
            id="priv">
        <input formControlName="warrenty" type="text" class="form-control mt-3 p-2" placeholder="Warrenty" name="pin8"
            id="pwar">
        <button class="btn btn-outline-success mt-3 p-2" type="submit">
            <i style="color: rgb(17, 186, 17) ; " class="bi-cart-fill mt-3"></i>
            add
        </button>
    </form>

</div>